/* maxwidth 1000px */
@media screen and (max-width:1000px) {
    .about-content {
        width: 100%;
        text-align: center;
    }
    .contact-form{
        width: 100%;
    }

}
/* media width 700px */
@media screen and (max-width:700px) {
    .service-img{
        width:350px;
        
    }
}
/* media width 600px */
@media screen and (max-width:600px) {
    .header a {
        display: none;
    }
    #list-bar{
        display: block;
        cursor: pointer;
    }
    body{
        width: 140vw;
    }
    .header {
        margin-top: 0px;
 
    }
}




